## About the Dataset:
Used in Belsley, Kuh & Welsch, 'Regression diagnostics â€¦', Wiley,1980. N.B. Various transformations are used in the table on pages 244-261. Quinlan (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

Relevant Information: Concerns housing values in suburbs of Boston.
Number of Instances: 509
Number of Attributes: 13 continuous attributes (including "class" attribute "MEDV"), 1 binary-valued attribute.

#### Attribute Information:

1) CRIM : per capita crime rate by town.

2) ZN : proportion of residential land zoned for lots over 25,000 sq.ft.

3) INDUS: proportion of non-retail business acres per town.

4) CHAS : Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

5) NOX : nitric oxides concentration (parts per 10 million).

6) RM : average number of rooms per dwelling.

7) AGE : proportion of owner-occupied units built prior to 1940.

8) DIS : weighted distances to five Boston employment centres.

9) RAD : index of accessibility to radial highways.

10) TAX : full-value property-tax rate per $10,000.

11) PTRATIO : pupil-teacher ratio by town.

12) B : 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.

13) LSTAT: % lower status of the population.

14) MEDV : Median value of owner-occupied homes in $1000's.*

### Set working directory and import necessary libraries

In [1]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import seaborn as sns

In [2]:
#These lines make sure that our directory matches the right file path to retrieve our data
#pwd
#present working directory
import os
os.getcwd( )
#sets correct current directory 
os.chdir('/Users/lemuelrobinson/Downloads/')

### Read in file and check for empty rows of missing entries

In [3]:
df=pd.read_csv('Housing.csv')

In [53]:
df.head(100)
predictors=list(df.columns.values.tolist())

We're going to check for:

1. Missing data to deal with it as needed
2. Make sure data is in format

In [54]:
missing_data = df.isnull()
missing_data.head(509)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False
506,False,False,False,False,False,False,False,False,False,False,False,False,False,False
507,False,False,False,False,False,False,False,False,False,False,False,False,False,False
508,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [55]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

CRIM
False    509
Name: CRIM, dtype: int64

ZN
False    509
Name: ZN, dtype: int64

INDUS
False    509
Name: INDUS, dtype: int64

CHAS
False    509
Name: CHAS, dtype: int64

NOX
False    509
Name: NOX, dtype: int64

RM
False    509
Name: RM, dtype: int64

AGE
False    509
Name: AGE, dtype: int64

DIS
False    509
Name: DIS, dtype: int64

RAD
False    509
Name: RAD, dtype: int64

TAX
False    509
Name: TAX, dtype: int64

PTRATIO
False    509
Name: PTRATIO, dtype: int64

B
False    509
Name: B, dtype: int64

LSTAT
False    509
Name: LSTAT, dtype: int64

MEDV
False    509
Name: MEDV, dtype: int64

**From this printout we can see that most of our columns are complete, but there is a missing variable hear and there in our dataframe, so we're going to work on that before we go any further. If most of the entries in a row are missing, we could drop select rows, however, that's not the case here. So we'll simply replace the missing values with the mean of that column--INDUS has the most missing values at 3, and MEDV, which will be our dependent variable is fully complete so we're good there.**

### Calculate the means of the columns with missing values

In [56]:
indus_mean = df["INDUS"].astype("float").mean(axis=0)
print("Average of INDUS:", indus_mean)

nox_mean = df["NOX"].astype("float").mean(axis=0)
print("Average of NOX:", nox_mean)

age_mean = df["AGE"].astype("float").mean(axis=0)
print("Average of AGE:", age_mean)

lstat_mean = df["LSTAT"].astype("float").mean(axis=0)
print("Average of LSTAT:", lstat_mean)

rad_mean = df["RAD"].astype("float").mean(axis=0)
print("Average of RAD:", rad_mean)

Average of INDUS: 11.198280632411091
Average of NOX: 0.555216370808678
Average of AGE: 68.57913385826775
Average of LSTAT: 12.702314893187454
Average of RAD: 9.610236220472443

### Substitute our averages into the holes for their respective columns

In [57]:
df["INDUS"].replace(np.nan, indus_mean, inplace=True)
df["NOX"].replace(np.nan, nox_mean, inplace=True)
df["AGE"].replace(np.nan, age_mean, inplace=True)
df["LSTAT"].replace(np.nan, indus_mean, inplace=True)
df["RAD"].replace(np.nan,rad_mean, inplace=True)

In [58]:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

CRIM
False    509
Name: CRIM, dtype: int64

ZN
False    509
Name: ZN, dtype: int64

INDUS
False    509
Name: INDUS, dtype: int64

CHAS
False    509
Name: CHAS, dtype: int64

NOX
False    509
Name: NOX, dtype: int64

RM
False    509
Name: RM, dtype: int64

AGE
False    509
Name: AGE, dtype: int64

DIS
False    509
Name: DIS, dtype: int64

RAD
False    509
Name: RAD, dtype: int64

TAX
False    509
Name: TAX, dtype: int64

PTRATIO
False    509
Name: PTRATIO, dtype: int64

B
False    509
Name: B, dtype: int64

LSTAT
False    509
Name: LSTAT, dtype: int64

MEDV
False    509
Name: MEDV, dtype: int64

**Rerun the missing values check to make sure that all of our values are covered now. We used inplace=true for all of our replace commands, but I want to double check before continuing.**

### Check/Correct data format
So our last step is to ensure that our datatypes are correct. We'll use dtypes to pull up all of them in our dataframe, and then use astype to change them as needed below.

In [59]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

**It looks like our datatypes are correct, Tax is coded as an integer based on the descriptions above, and Chas is a dummy variable so we'd expect it to be an int as well. We'll use the describe method to look at how wide a spread our intended dependent variable takes on**

In [60]:
df["MEDV"].describe()

count    509.000000
mean      22.501572
std        9.183497
min        5.000000
25%       17.000000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

In [61]:
#create a separate dataframe for just our y values
y_data=df['MEDV']
#put all other variables into a separate dataframe and drop the price column from it to make our x-values dataframe
x_data=df.drop('MEDV',axis=1)

### Linear Regression

**From here we're going to split our dataset into training and testing pools-we'll do this at random in a 90-10 split**

In [62]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.10, random_state=1)

print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 51
number of training samples: 458

In [84]:
#we'll create a linear regression object
from sklearn.linear_model import LinearRegression
lre=LinearRegression()
lre.fit(x_train,y_train)
y_pred =lre.predict(x_test)

In [67]:
from sklearn.metrics import mean_squared_error,r2_score

In [68]:
MSE=mean_squared_error(y_test,y_pred, squared=False)
RMSE=MSE**0.5
print("RMSE = {}".format(RMSE))
R2=r2_score(y_test,y_pred)
print("R^2 = {}".format(R2))

RMSE = 2.0634642800648635
R^2 = 0.7958049793194765

In [69]:
R_squared_comparison={"linear regression":R2}
print(R_squared_comparison)

{'linear regression': 0.7958049793194765}

**We just created a dictionary to hold our respective R-values because I'd like to do both regular multivariate regression, cross-validated and ridge regression models to see which is best for our data. We'll compare them all on the basis of R^2 scores in this dictionary as we go!**

### Cross-validation Regression

In [99]:
from sklearn.model_selection import cross_val_score,KFold

In [100]:
kf=KFold(n_splits=5,shuffle=True, random_state=42)
reg=LinearRegression()
cv_results=cross_val_score(reg,x_train,y_train,cv=kf)
R2_cross_val=np.mean(cv_results)
confidence_interval_95=np.quantile(cv_results,[0.025,0.975])
print(confidence_interval_95)

[0.62950981 0.77423234]

In [101]:
R_squared_comparison.update({"cross_validation":R2_cross_val})

### Ridge Regression

In [102]:
from sklearn.linear_model import Ridge

In [103]:
scores=[]
for alpha in [0.1,1.0,10.0,100,1000]:
    ridge=Ridge(alpha=alpha)
    ridge.fit(x_train,y_train)
    y_pred=ridge.predict(x_test)
    scores.append(ridge.score(x_test,y_test))
print(scores)

[0.7968871249008254, 0.8001272119213492, 0.7946288817841615, 0.7599682843992298, 0.6798511678157249]

**From our scores, it looks like R^2 is maximized somewhere around 1, so we'll iterate and rerun this regression for a tighter band of alpha values to see if it improves the model at all.**

In [104]:
scores=[]
for alpha in [0.5,1.0,1.5,2,2.5,3.5,5,6.5,7,8.5,9]:
    ridge=Ridge(alpha=alpha)
    ridge.fit(x_train,y_train)
    y_pred=ridge.predict(x_test)
    scores.append(ridge.score(x_test,y_test))
print(scores)

[0.7992226459129408, 0.8001272119213492, 0.8002421964362258, 0.8000623829000689, 0.7997627420481693, 0.7990461567675425, 0.797939741674772, 0.7968853267355819, 0.7965469405138353, 0.7955661465066366, 0.795249356887131]

**it looks like the score maximizes somewhere around 1.5, so we're going to use the value for this model, and append our dictionary accordingly.**

In [96]:
score=0
ridge=Ridge(alpha=1.5)
ridge.fit(x_train,y_train)
y_pred=ridge.predict(x_test)
score=ridge.score(x_test,y_test)
print(score)

0.8002421964362258

In [105]:
R_squared_comparison.update({"Ridge regression":score})
print(R_squared_comparison)

{'linear regression': 0.7958049793194765, 'cross_validation': 0.6984487396199586, 'Ridge regression': 0.8002421964362258}

**From our comparison of these models, it looks like the Ridge regression is working for the best so far. So we'll use that one from here on out. I'm going to put the variables and their coefficients into a dictionary to make things a little easier**

In [110]:
coef=ridge.fit(x_train,y_train).coef_
coefficients=dict(zip(predictors, coef))
print(coefficients)

{'CRIM': -0.11076650386280565, 'ZN': 0.05578983878413471, 'INDUS': -0.06720364883844449, 'CHAS': 1.9692239021706455, 'NOX': -2.520828365903125, 'RM': 3.436738009316399, 'AGE': -0.015815986574930427, 'DIS': -1.3262178916303191, 'RAD': 0.2828609097930727, 'TAX': -0.013362348086215397, 'PTRATIO': -0.7703062168408061, 'B': 0.009991096537836716, 'LSTAT': -0.543945421579492}

**These are our coefficients for this model, which we can use to predict housing prices.**